<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
 
      <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36}:%L - %msg%n"/>

    </Console>

	<SMTP name="Mail" subject="ArchiveSearch Error Log" to="***REMOVED***"
		from="***REMOVED***" smtpHost="***REMOVED***"
		smtpPort="587" bufferSize="50" smtpUsername="learnweb"
		smtpPassword="***REMOVED***">

		<Filters>
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" />
		</Filters>
	</SMTP>   
  </Appenders>  

  <Loggers>
  	<Logger name="org.apache.commons" level="error" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
  	<Logger name="org.apache.commons" level="error" additivity="false">
      <AppenderRef ref="Mail"/>
    </Logger>
    
    <Root level="debug">    
      <AppenderRef ref="Console"/>
       <!-- 
      <AppenderRef ref="Mail"/>
      -->
    </Root>
  </Loggers>
</Configuration>