<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <database>
    <connection>
      <url>jdbc:mysql://athena.l3s.uni-hannover.de:3311/interwebj</url>
      <user-name>interwebj</user-name>
      <user-password>IckNu5boc=</user-password>
    </connection>
    <!-- <connection> <url>jdbc:mysql://localhost:3306/interwebj</url> <user-name>interwebj</user-name> 
      <user-password>W4CA4mNbORbsIrNp</user-password> </connection> -->
    <driver-name>com.mysql.jdbc.Driver</driver-name>
  </database>
</configuration>