<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <database>
    <connection> 
      <!--   
      <url>jdbc:mysql://localhost:3333/interwebj</url>
      <url>jdbc:mysql://mysql.l3s.uni-hannover.de/interwebj</url>   
      -->
      <url>jdbc:mysql://mysql.l3s.uni-hannover.de/interwebj</url>   
      <user-name>interwebj</user-name> 
      <user-password>IckNu5boc=</user-password> 
     </connection>
    <driver-name>com.mysql.jdbc.Driver</driver-name>
  </database>
</configuration>