<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">

    <display-name>InterWebJ</display-name>

    <session-config>
        <session-timeout>30</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <!--<param-value>Development</param-value>-->
        <!--<param-value>Production</param-value>-->
        <param-value>${jakarta.faces.project_stage}</param-value>
    </context-param>
    <context-param>
        <param-name>jakarta.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- Only for 4.0.0 -->
    <context-param>
        <param-name>org.apache.myfaces.SUPPORT_JSP</param-name>
        <param-value>false</param-value>
    </context-param>
    <!-- Only for 3.0.0, will be removed in 4.0.0 -->
    <context-param>
        <param-name>org.apache.myfaces.SUPPORT_JSP_AND_FACES_EL</param-name>
        <param-value>false</param-value>
    </context-param>
    <!-- Only for 3.0.0, will be removed in 4.0.0 -->
    <context-param>
        <param-name>org.apache.myfaces.SUPPORT_MANAGED_BEANS</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.apache.myfaces.LOG_WEB_CONTEXT_PARAMS</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>jakarta.faces.validator.ENABLE_VALIDATE_WHOLE_BEAN</param-name>
        <param-value>false</param-value> <!-- Enable if you want to use f:validateWholeBean -->
    </context-param>

    <servlet>
        <display-name>InterWebJ Faces Servlet</display-name>
        <servlet-name>facesServlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>facesServlet</servlet-name>
        <url-pattern>/view/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>Jersey REST API</description>
        <servlet-name>jersey-servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jakarta.ws.rs.Application</param-name>
            <param-value>de.l3s.interwebj.tomcat.RestApplication</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-servlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>de.l3s.interwebj.tomcat.servlet.listener.ServletContextLifecycleListener</listener-class>
    </listener>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Public resource</web-resource-name>
            <url-pattern>/</url-pattern>
            <url-pattern>/index.xhtml</url-pattern>
            <url-pattern>/css/*</url-pattern>
            <url-pattern>/img/*</url-pattern>
            <url-pattern>/api/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secured resource</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <welcome-file-list>
        <welcome-file>view/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
