html {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    background: #b7c4d3;
    font: normal 12px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

tr.hide {
    display: none;
}

#error {
    color: #ff0000;
}

.error {
    color: #ff0000;
}

.top {
    vertical-align: top;
}

.bottom-right-align-bold {
    vertical-align: top;
    text-align: right;
    font-weight: bold;
}

/* Links */
a {
    border-bottom: 1px dotted #0077CC;
}

a:link {
    color: #0077CC;
    text-decoration: none;
}

a:visited {
    color: #0077CC;
    text-decoration: none;
}

a:hover, a:active {
    color: #993333;
    border-bottom: 1px dotted #993333;
}

a.search_result {
    border-bottom: 0;
    padding: 0;
    margin: 0;
}

.search_result img {
    color: #BBBBBB;
    border-width: 1px;
}

/* Html Elements */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 5px 0 10px;
    padding: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: normal;
    border-bottom-width: 0;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul, ol, blockquote, pre {
    color: #555555;
    padding: 10px 30px;
    line-height: 1.8em;
}

ul {
    list-style-type: square;
}

blockquote, pre {
    background-color: #eeeeee;
    border: 1px solid #bbccdd;
}

ins {
    text-decoration: none;
    color: #466b85;
}

del {
    color: #555555;
}

iframe {
    max-width: 100%;
}


/* Structure */
body {
    width: 1000px;
    margin: 0 auto;
    background: #f9f9f9;
}


/* Top-Nav */
#topnav {
    color: #999999;
    background-color: #2c231e;
}

#topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    text-align: right;
    line-height: 1.0em;
}

#topnav li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#topnav li a {
    display: block;
    margin: 10px 0;
    padding: 0 10px;
    border-left: 1px solid #777777;
    border-bottom-width: 0;
}

#topnav li:first-child a {
    border-left-width: 0;
}

#topnav a:link,
#topnav a:visited {
    color: #988d87;
}

#topnav a:hover,
#topnav a:active {
    color: #ddd8d5;
}


/* Header */
#header {
    padding-top: 10px;
    background-color: #d9d4be;
    border-bottom: 1px solid #e5e5e5;
    text-align: right;
}

#header h3 {
    margin: 0;
    font-size: 24pt;
    font-weight: bold;
    font-family: serif;
    color: #2c231e;
    padding: 0 20px;
}

/* Menu */
#menu {
    text-align: left;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    background-color: #2c231e;
    display: inline-block;
}

#menu a {
    display: block;
    padding: 10px;
    border-bottom-width: 0;
}

#menu a:link,
#menu a:visited {
    color: #988d87;
}

#menu a:hover,
#menu a:active,
#menu a.selected {
    color: #ddd8d5 !important;
}

#menu a.admin_menu_item {
    background-color: #FE8484;
    color: #2c231e !important;
}


/* Content */
#content {
    padding: 20px;
}

#content > .error {
    margin: 0;
}

#content dl,
#content dt,
#content dd {
    margin: 0;
    padding: 0;
}

#content dt {
    padding: 10px;
    font-weight: bold;
    background-color: #cccc99;
}

#content dd {
    padding: 1px 10px;
    margin-bottom: 15px;
    background-color: #e6e6ce;
    border-bottom: 1px dotted #aaaaaa;
}


/* Footer */
#footer {
    color: #2c231e;
    padding: 1px 0;
    text-align: center;
    background-color: #d9d4be;
    border-top: 1px solid #e5e5e5;
}


/* Misc */
li.ui-datalist-item {
    list-style-type: none;
}

ul.ui-datalist-data {
    padding: 5px;
}

.table-form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px 5px;
    align-items: center;
}

.bordered {
    border-width: 1px !important;
}

.w-100 {
    width: 100%;
}


/* IW Panel */
.iw-panel {
    color: #C4C0B9;
    border-width: 0;
    border-style: solid;
    border-radius: 0;
    padding: 1px;

    margin-right: 5px;
}

.iw-panel-header {
    background-color: #D4CFC7;
    border-color: #D4CFC7;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    background-position: top left;
    background-repeat: repeat-x;
}

.iw-panel-content {
    font-size: 11px;
    color: #000000;
    padding: 3px;
}


/* IW Datatable */
.iw-datatable {
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #C4C0C9;
    empty-cells: show;
}

.iw-datatable th,
.iw-datatable td {
    word-wrap: break-word;
    vertical-align: top;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C4C0C9;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #C4C0C9;
    color: #000000;
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
    padding: 4px;
}
