<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.apache.logging.log4j.core,io.sentry.log4j2">
    <Properties>
        <Property name="INTERWEB_LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{9}:%line - %msg%n</Property>
        <Property name="INTERWEB_LOG_PATH">${sys:catalina.home:-.}/logs/interweb.log</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${INTERWEB_LOG_PATTERN}"/>
        </Console>
        <RollingFile name="file" append="false" fileName="${env:INTERWEB_LOG_PATH}" filePattern="${env:INTERWEB_LOG_PATH}.%i">
            <PatternLayout pattern="${INTERWEB_LOG_PATTERN}"/>
            <SizeBasedTriggeringPolicy size="250 MB"/>
        </RollingFile>
        <Sentry name="sentry" dsn="https://7371ead6828b496b86901f1bce43d551@sentry.kbs.uni-hannover.de/3"
                minimumBreadcrumbLevel="DEBUG" minimumEventLevel="ERROR"/>
    </Appenders>
    <Loggers>
        <Logger name="org.apache" level="FATAL"/>
        <Logger name="org.hibernate.validator" level="FATAL"/>
        <Logger name="org.jboss.weld" level="WARN"/>

        <Root level="DEBUG">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
            <appender-ref ref="sentry"/>
        </Root>
    </Loggers>
</Configuration>
